<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Live Code</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://simplewebrtc.com/latest.js"></script> 
    <script src="javascripts/ZeroClipboard.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script type="text/javascript">
        var endings = {
        c: '.cpp', 
        css: '.css', 
        html: '.html', 
        Java: '.java',
        javascript: '.js',
        php: '.php',
        python: '.py',
        ruby: '.rb' 
    };
    var ending = '.js';

    function selectLang(lang){
        ending = endings[lang];
    }
    </script>

</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top navbar-livecode" role="navigation">
        <a href="/"><h2>Live_Code</h2></a>
    </nav>


    <div class="container-fluid">

        <div class="col-md-1 col-sm-1 camera">
            <div class="camera-container">
                <div class="row">
                    <div class="camera-box">
                        <video  id="localVideo"></video>
                    </div>
                </div>
                <div class="row">
                    <div class="camera-box">
                        <div id="remotesVideos" ></div>
                    </div>
                </div>
            </div>
            <div class="row">
                    <div id="sidebar-wrapper">
                        <ul class="sidebar-nav">
                            <li>
                                <div id="sidebar" class="list-group"> 

                                    <a href="#users" class="list-group-item"  id="lang-button" data-parent="#sidebar">
                                        <i class="icon-group"></i> Select Language
                                    </a>

                                    <div id="lang-select" class="list-group subitem collapse">    

                                        <a  id="C"  onclick="selectLang('c');" class="list-group-item">
                                            C/C++
                                        </a>
                                        <a id="CSS" onclick="selectLang('css');" class="list-group-item">
                                            CSS
                                        </a>
                                        <a  id="HTML" onclick="selectLang('html');" class="list-group-item">
                                            HTML
                                        </a>
                                        <a  id="Java" onclick="selectLang('Java');" class="list-group-item">
                                            Java
                                        </a>
                                        <a  id="Javascript" onclick="selectLang('javascript');" class="list-group-item">
                                            Javascript
                                        </a>
                                        <a  id="PHP" onclick="selectLang('php');" class="list-group-item">
                                            PHP
                                        </a>
                                        <a  id="Python" onclick="selectLang('python');"
                                        class="list-group-item">
                                            Python
                                        </a>
                                        <a  id="Ruby" onclick="selectLang('ruby');" class="list-group-item">
                                            Ruby
                                        </a>

                                    </div>  

                                    <a href="#articles" id='dl-button'class="list-group-item"  data-parent="#sidebar">
                                        <i class="icon-file-text"></i> Download
                                        
                                    </a>

                                    <a id="copy-button" data-clipboard-text="Copy me!" class="list-group-item"  
                                        data-parent="#sidebar">
                                        <i class="icon-file-text"></i> Copy URL
                                    </a>
                                    <a id="email-button" class="list-group-item" data-parent="#sidebar">
                                        <i class="icon-file-text"></i> Send Invite via Email
                                    </a>
                                   
                                </div>
                            </li>
                            <li>
                            </li>
                        </ul>
                    </div>
            </div>
            
        </div>

        <div class="col-md-9 col-md-offset-3 col-sm-7 col-sm-offset-4" id="editor-container">
                <div id="page-content-wrapper">
                    <div class="page-content">
                        <div id="editor"><%= content %></div> 
                    </div>
                </div>
            </div>
    </div>

</div>


<script src="javascripts/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>

<script src="/socket.io/socket.io.js"></script>
<script>
var client = new ZeroClipboard( document.getElementById("copy-button") );

client.on("ready", function( readyEvent ) {

    client.on( "aftercopy", function( event ) {
        alert("Copied text to clipboard: " + event.data["text/plain"]);
    });
});

var webrtc = new SimpleWebRTC({
    localVideoEl: 'localVideo',
    remoteVideosEl: 'remotesVideos',
    autoRequestMedia: true
});

webrtc.on('readyToCall', function () {
    webrtc.joinRoom('<%= id %>');
});

var socket = io('/<%= id %>');
var changing = false;

socket.on('editorCallback', function(data){
    changing = true;
    editor.setValue(data.newValue);
    editor.clearSelection()
    changing = false;
});

var editor = ace.edit("editor");
editor.setTheme("ace/theme/monokai");
editor.getSession().setMode("ace/mode/css");

editor.getSession().on('change', function(e){
    if(!changing){
        var data = {    
            newValue: editor.getValue()
        }
        socket.emit('editorChange', data);
    }
});

$('#lang-select').on('click', 'a', function(event){
    editor.getSession().setMode("ace/mode/"+this.id.toLowerCase());
    $('#lang-button').html('<i class="icon-group"></i>' + this.id);
    $('#lang-select').collapse('hide');
    $.ajax({
        url: "/topic?id=<%= id %>&topic=" + this.id,
        type: "POST"
    })
});

$('#sidebar > a').on('click', function (e) {
    e.preventDefault();

    
        var lastActive = $(this).closest("#sidebar").children(".active");
        lastActive.removeClass("active");
        lastActive.next('div').collapse('hide');
        $(this).addClass("active");
        $(this).next('div').collapse('show');
    

});

$(document).ready(function () {

    window.history.replaceState('object or string', 'new state', '/chat?id=<%= id %>');
    var bodyheight = $('body').css('height').replace('px','');
    var editorheight = $('#editor').css('height').replace('px','');
    $('body').css('height',Number(bodyheight)+Number(editorheight)+'px');
    $('#copy-button').attr('data-clipboard-text', location.href);

    var destroyClickedElement = function(event){
        document.body.removeChild(event.target);
    }
    var saveTextAsFile = function(){      
        var textToWrite = editor.getValue();
        var textFileAsBlob = new Blob([textToWrite], {type:'text/plain'});
        var fileName = prompt("Please enter file name to save as");

        var fileNameToSaveAs = fileName + ending;
        var downloadLink = document.createElement("a");
        downloadLink.download = fileNameToSaveAs;
        downloadLink.innerHTML = "My Hidden Link";
        window.URL = window.URL || window.webkitURL;
              
        downloadLink.href = window.URL.createObjectURL(textFileAsBlob);
        downloadLink.onclick = destroyClickedElement;
        downloadLink.style.display = "none";
        document.body.appendChild(downloadLink);
        downloadLink.click();
    }

    $('#dl-button').click(saveTextAsFile);

    $('#email-button').click(function(){
        var data = {
            fromEmail: prompt('Please enter your email'), 
            toEmail: prompt('Enter the email you want to send the link to'),
            url: window.location.href
        };
        console.log(data);
        socket.emit('sendEmail', data);
    });
    
    window.history.replaceState('object or string', 'new state', '/chat?id=<%= id %>');

});
</script>

</body>
</html>
